<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="" style="color: rgb(32, 218, 193); font-size: 25px;">Social</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'core:home' %}" style="color: goldenrod; font-size: 20px;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}" style="color: red; font-size: 18px;">Log in</a>              </li>
              <li class="nav-item ">
                    <a class="nav-link" href="{% url 'accounts:signup' %}" style="color: purple; font-size: 18px;">Sign up</a>
              </li>
          </ul>
          <form class="d-flex" method="GET" action="{% url 'accounts:profile' user.id %}" role="search">
            {% if request.user.is_authenticated  %}
              <input type="text" name="q" placeholder="Search users...">
              <button type="submit">Search</button>
            {% endif %}  
          </form>
          {% if results %}
          <h3>Search Results:</h3>
          {% for result in results %}
            <p>{{ result.username }} <a href="{% url 'accounts:follow' result.username %}">Follow</a></p>
          {% empty %}
            <p>No results found.</p>
          {% endfor %}
          {% endif %}
          {% if request.user.is_authenticated  %}
          <a href="{% url 'accounts:logout' %}"><button class="btn btn-outline-primary ms-2" type="button" onclick="logout()">Logout</button></a>
          {% endif %}
      </div>
  </div>
</nav>

<script>
  function logout() {
      // Add your logout logic here
      console.log('Logout button clicked');
  }
</script>
