<!DOCTYPE html>
<html>
<head>
    <title>Post Detail</title>
</head>
<body>
    
    <h1>Post Detail</h1>
        <form action="{% url 'posts:like_post' %}" method="post" id="like-post-form">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit">Like</button>
        </form>
        <form action="{% url 'posts:remove_like' %}" method="post" id="unlike-post-form">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit">Unlike</button>
        </form>
        <form action="{% url 'posts:dislike_post' %}" method="post" id="dislike-post-form">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit">Dislike</button>
        </form>
        <form action="{% url 'posts:remove_dislike' %}" method="post" id="dislike-post-form">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit">remove_dislike</button>
        </form>
    <p>Like count: <span id="like-count">{{ post.likes.count }}</span></p>
    <p>Dislike count: <span id="dislike-count">{{ post.dislikes.count }}</span></p>
    {% if request.user == post.user %}
    <a href="{% url 'posts:edit_post' post.id %}" class="btn btn-primary">Edit</a>
    <form action="{% url 'posts:delete_post' post.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    {% endif %}
    
    <h2>{{ post.slug }}</h2>
    <p>{{ post.caption }}</p>
    <p>Created At: {{ post.create_time }}</p>
    <p>Last Updated At: {{ post.update_time }}</p>
    <p>Location: {{ post.location }}</p>

    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
        <li>
            <p>{{ comment.comment_text }}</p>
            <p>Commented by: {{ comment.user }}</p>
            <p>Created At: {{ comment.create_time }}</p>
            {% if comment.child.count > 0 %}
            <ul>
                {% for reply in comment.child.all %}
                <li>
                    <p>{{ reply.comment_text }}</p>
                    <p>Replied by: {{ reply.user }}</p>
                    <p>Created At: {{ reply.create_time }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'posts:reply_comment' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <input type="text" name="reply_text" placeholder="Reply to this comment">
                <input type="submit" value="Reply">
            </form>
            {% if request.user == comment.user %}
                 <form action="{% url 'posts:delete_comment' comment.id %}" method="post" class="delete-comment-form">
                {% csrf_token %}
                <button type="submit">Delete Comment</button>
                </form>
            {% endif %}
            
        </li>
        {% endfor %}
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="comment_text" placeholder=" comment">
        <input type="submit" value="send">
    </form>
    <a href="{% url "accounts:profile" request.user.id %}" ><button class="btn btn-primary">Back</button></a>
</body>
</html>
